.backgroundHero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, top;
  width: 100%;
  height: 90vh;
  .textHero {
    color: #fff;
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: 100px;
    p {
      padding: 0 0.5rem;
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      color: white;
    }
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 700;
      color: #ff002e;
    }
    .navLink {
      text-align: center;
      font-size: 18px;
      .navLinkHero {
        display: inline-block;
        margin-right: 0.5rem;
        a {
          color: white;
        }
      }
    }
    .starHero {
      width: 30px;
      height: 23px;
      background-color: rgb(255 0 46 / 0.3);
      margin: auto;
      border-radius: 3px;
      text-align: center;
    }
  }
}
