.movieCard {
  max-width: 220px;
  .imageCard {
    border-radius: 8px;
    margin-top: 1rem;
  }
  p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
  }
}
